@using Microsoft.EntityFrameworkCore.Infrastructure
@model KasundiRestaurant.Models.ViewModels.IndexViewModel

<br />

@if (Model.Coupons.ToList().Count > 0)
{
    <div class="border">
        <div class="carousel" data-ride="carousel" data-interval="2500">
            @for (int i = 0; i < Model.Coupons.Count(); i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupons.ToList()[i].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }

                        <img src="@imgsrc" height="50px" class="d-block width=auto" />
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupons.ToList()[i].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }

                        <img src="@imgsrc" height="50px" class="d-block width=auto" />
                    </div>
                }
            }
        </div>
    </div>
}

<br />
<br />

<div class="backgrondwhite container">

    <ul id="menu-filters" class="menu-filter-list list-inline text-center">
        <li class="filter active btn btn-secondary ml-1 mr-1"  data-filter=".menu-restaurant">Show All</li>

        @foreach (var item in Model.Categories)
        {
            <li class="filter ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
        }
    </ul>

</div>


<div class="backgrondwhite container">
    @foreach (var category in Model.Categories)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_ThumbnailAreaPartial" model="Model.MenuItems.Where(c=>c.Category.Name.Equals(category.Name))" />
        </div>

    }
</div>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script>
        var posts = $('.post');

        (function($) {
            $("#menu-filters li").click(function() {
                $("#menu-filters li").removeClass('active btn btn-secondary');

                $(this).addClass('active btn btn-secondary');

                var selectedFilter = $(this).data("filter");

                $(".menu-restaurant").fadeOut();

                setTimeout(function () {
                    $(selectedFilter).slideDown();
                }, 300);
            });
           
        })(jQuery);

    </script>
}
